#profiles {
    flex-direction: column;
}

#team .box {
    margin: 20% 20%;
}

.navbar-nav {
    margin: auto;
}

#navbarCollapse {
    text-align: center;
}

#sign-in-btn {
    margin: 0;
}

#prev,
#next{
    height: 42.5rem;
}